.map_info{
  width: 532px;
  height: auto;
  position: absolute;
  top: 270px;
  z-index: 1;
  left: 90px;
  @include border-radius(10px);
  @include box-shadow(0 7px 6px rgba(217,119,8,.2));
  @include background-image(linear-gradient(bottom, #000 22.2%, #000 172.2%));
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 40px;
  &__header{
    font-family: "pf_square_sans_probold";
    color: #fb8923;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    background-color: #000;
    left: 0;
    top: -70px;
    text-transform: uppercase;
    padding-top: 30px;
    padding-right: 35px;
    padding-left: 40px;
    @include border-radius(10px 10px 0 0);
    &:after{
      right: -15px;
      @include border-radius(0 0 0 0.5em);
      @include box-shadow(0 0 0 0px black, inset 8px -8px 0px -5px black);
      content: '';
      position: absolute;
      top: 17px;
      height: 38px;
      width: 20px;
      overflow: hidden;
    }
  }
  &__text{
    font-family: "pf_square_sans_proregular";
    color: #fff;
    font-size: 24px;
    text-align: left;
    float: left;
  }
}

.contact_phone{
  font-family: "pf_square_sans_probold";
  font-size: 48px;
  color: #FFFFFF;
  display: inline-block;
  line-height: 35px;
  &__code{
    color: #fc8923;
  }
  &__small{

    width: 100%;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    color: #282828;
  }

}
.contacts_info{
  &__wr{
    max-width: 980px;
    width: 100%;
    display: table;
    margin: 0 auto;
    margin-bottom: 80px;
    z-index: 1;
    position: relative;
  }
  &__block{
    padding-top: 30px;
    width: 48%;
    height: 210px;
    @include border-radius(10px);
    background-color: #f8efde;
    float: left;
    &:first-child{
      margin-left: 5px;
      padding-top: 45px;
      margin-right: 30px;
    }
    p{}
    b{}

  }
  &__text,&__header{
    width: 100%;
    text-align: center;
  }
  &__text{
    color: #282828;
    font-size: 18px;
    b{
      font-family: "pf_square_sans_probold";
      color: #000000;
    }
  }
  &__header{
    margin-bottom: 0;
    font-size: 24px;
    font-family: "pf_square_sans_probold";
    color: #fc8923;
  }
  &__email{
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    color: #fc8923;
    font-size: 18px;
    font-family: "pf_square_sans_probold";
    &_link{
      font-family: "pf_square_sans_proregular";
      text-decoration: underline;
      color: #00a4b7;
    }
  }
  &__social{
    display: table;
    margin: 0 auto;
    text-align: center;
    li{
      float: left;
      &:not(:last-child){
        margin-right: 10px;
      }
    }
  }
}

#contactMap {
  height: 590px;
  width: 100%;
  border-bottom: 1px solid #dec7a8;
  bottom: 30px;
}

.gm-style-iw * {
  display: block;
  width: 100%;
}

.gm-style-iw h4, .gm-style-iw p {
  margin: 0;
  padding: 0;
}

.gm-style-iw a {
  color: #4272db;
}
